body {
	background-color: white;
	color: black;
}
.widget-main-block {
	position:absolute;
	display:block;
	padding: 10px 15px;
	font-size: 11px;
	font-family: arial;
	/*visibility:hidden;*/
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5),inset 0px 0px 1px 1px rgba(255,255,255,0.7);
	color: #4e4830 !important;
	background-image:-webkit-linear-gradient(#fbf5e5, #e2dbbf); 
	z-index: 1;
	opacity: 1;
	-webkit-transition:visibility 0.3s,opacity 0.3s;
}

.widget-bottom-arrow, .widget-top-arrow, .widget-left-arrow, .widget-right-arrow{
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px;
	bottom:0px;
	width:7px;
	height:7px;
	-webkit-transform:rotate(45deg);
	z-index:1;
}

.widget-bottom-arrow{
	bottom: -3px;
	box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2),inset -1px -1px 1px 0px rgba(255,255,255,0.7);
	background-color:#e2dbbf;
}

.widget-top-arrow{
	top : -3px;
	box-shadow:-2px -2px 3px 0px rgba(0,0,0,0.2),inset 1px 1px 1px 0px rgba(255,255,255,0.7);
	background-color:#fbf5e5;
}

.widget-left-arrow{
	left : -3px;
	box-shadow:-2px 2px 3px 0px rgba(0,0,0,0.2),inset 1px -1px 1px 0px rgba(255,255,255,0.7);
	background-color:#efe8d2;
}

.widget-right-arrow{
	right : -3px;
	box-shadow:2px -2px 3px 0px rgba(0,0,0,0.2),inset -1px 1px 1px 0px rgba(255,255,255,0.7);
	background-color:#efe8d2;
}

.widget-text {
	width:100%;
	display: block;
}

.widget-word-wrap {
	background: transparent;
	border: 1px solid red;
}
.widget-show{
	opacity: 0.9;
	visibility:visible;
}
